{% extends "base.html" %}

{% block app_content %}
    <h1>Structure of D-classes</h1>
    <table style="width: 100%; text-align: center;">
    {% set offset = namespace(value=0) %}
    {% for class in d_classes %}
        {% for row in class.r_classes() %}
            <tr>
                {% for i in range(offset.value) %}
                    <td>
                    </td>
                {% endfor %}
                {% for column in class.l_classes() %}
                    {% set h_class = intersection(row, column) %}
                    <td style="border: 1px solid;">
                        <a href="{{ url_for('main.class_show', class_name='H', class_id=h_class.id) }}">
                            {{ h_class.matrices|length }}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% set offset.value = offset.value + class.r_classes()|length %}
    {% endfor %}
    </table>
{% endblock %}
